/* Start Variable */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --padding-section: 60px;
  --section-background: #f6f6f6;
}
/* End Variable */
/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.special-heading {
  color: #ebeced;
  font-size: 100px;
  margin: 0;
  letter-spacing: -3px;
  text-align: center;
  font-weight: 800;
}
@media (max-width: 768px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
.special-heading + p {
  color: #797979;
  text-align: center;
  margin-top: -30px;
  font-size: 20px;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* midum */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start header */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  height: 2px;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
  height: 2.2px;
}
.header .links ul {
  list-style-type: none;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  z-index: 1;
}
.header .links .show-menu {
  display: none;
}
.header .links ul:before {
  content: "";
  position: absolute;
  right: 5px;
  top: -19px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.4s;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
/* End header */
/* Start lasnding section */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 50px;
}
.landing .intro-text p {
  line-height: 1.9;
  font-size: 19px;
}
/* End lasnding section */
/* Start Features section */
.features {
  background-color: var(--section-background);
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.features .container .feat {
  text-align: center;
  padding: 20px;
}
.features .container .feat i {
  color: var(--main-color);
}
.features .container .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .container .feat p {
  color: #777;
  line-height: 1.8;
  font-size: 17px;
}
/* End Features section */
/* Start Services */
.services {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.services-content {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
}
.services-content .col .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 760px) {
  .services-content .col .srv {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.services-content .col .srv .text {
  flex: 1;
}
.services-content .col .srv i {
  flex-basis: 80px;
  color: var(--main-color);
}
.services-content .col .srv .text h3 {
  margin: 0 0 20px;
}
.services-content .col .srv .text p {
  color: #444;
  line-height: 1.6;
  font-weight: 300;
}
.services-content .col .image {
  text-align: center;
  position: relative;
}
@media (max-width: 1200px) {
  .image-column {
    display: none;
  }
}
.services-content .col .image img {
  width: 260px;
}
.services-content .col .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  right: 0;
  top: -50px;
  z-index: -1;
}
/* End Services */
/* Start Protfolio */
.protfolio {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: var(--section-background);
}
.protfolio .protfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.protfolio .protfolio-content .card {
  background-color: white;
}
.protfolio .protfolio-content img {
  max-width: 100%;
}
.protfolio .protfolio-content .info {
  padding: 20px;
}
.protfolio .protfolio-content .info h3 {
  margin: 0;
}
.protfolio .protfolio-content .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Protfolio */
/* Start About */
.about {
  padding-top: var(--padding-section);
  padding-bottom: calc(var(--padding-section) + 60px);
}
.about .about-content {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .image::before {
  content: "";
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: -2;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  top: -40px;
  right: -150px;
  z-index: -1;
}
@media (max-width: 760px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-child {
  line-height: 2;
  margin-bottom: 50px;
  font-weight: bold;
}
.about .about-content .text hr {
  border-color: var(--main-color);
  width: 50%;
  display: inline-block;
}
.about .about-content .text p:last-child {
  line-height: 2;
  color: #777;
}
/* End About */
/* Start Contact */
.contact {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: var(--section-background);
}
.contact .info {
  text-align: center;
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.contact .info .label {
  font-size: 35px;
  color: var(--secondary-color);
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 35px;
  font-weight: 800;
}
.contact .container .info .social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 20px;
}
.contact .container .info .social i {
  margin-left: 5px;
  color: var(--secondary-color);
}
/* End Contact */
/* Start footer */
.footer {
  padding: 30px 10px;
  background-color: var(--secondary-color);
  text-align: center;
  color: white;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info a {
    font-size: 25px;
  }
}
/* End footer */
